.info__container{
    width: min(92%, 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracter__p{
    font-size: clamp(8rem, 45vw, 14rem);
    line-height: 1;
}

.btn-container{
    flex-wrap: wrap;
    justify-content: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 2em;
}

.btn-container .button-primary,
.btn-container .button-second{
    text-transform: uppercase;
}

.caracter__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.caracter__container .romaji-p{
    font-size: 1.5625rem;
}

.caracter__container .romaji-p.hidden{
    visibility: hidden;
}