.info__container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracter__p{
    font-size: 10em;
    /* font-weight: bold; */
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding-bottom: 2em;
}

.btn-container .button-primary,
.btn-container .button-second{
    text-transform: uppercase;
}

.caracter__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.caracter__container .romaji-p{
    font-size: 1.5625rem;
}

.caracter__container .romaji-p.hidden{
    visibility: hidden;
}